// Import fonts
@font-face {
  font-family: 'Futura_Book';
  src: url('~@fonts/futura_book.ttf');
}

@font-face {
  font-family: 'Futura_Light';
  src: url('~@fonts/futura_light.ttf');
}

@font-face {
  font-family: 'Futura_Medium';
  src: url('~@fonts/futura_medium.ttf');
}

// color variables
$white-color: #ffffff;
$background-grey-color: #202020;
$header-color: #212121;

@import '@styles/reset.scss';
@import '@components/Loading/Loading.scss';
@import '@components/Home/Home.scss';
@import '@components/Header/Header.scss';
@import '@components/Header/MenuHeader/MenuHeader.scss';
